@use "abstracts/variables" as *;
@use "./abstracts/mixins" as m;
@use "./abstracts/reset" ;


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-neutral-1000;


    @media(min-width: $query-desktop) {

        justify-content: center;
    }
}


