@use "../../../Styles/abstracts/variables" as *;
@use "../../../Styles/abstracts/mixins" as m;


.main {
    &__final-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $sz-100;
        @include m.passwordTypo;
        background-color: $clr-neutral-600;
        height: $sz-400;

        @media(min-width: $query-desktop){
            height: $sz-500;
            padding-inline: $sz-200;
        }

        &__copy {
            display: flex;
            align-items: center;
            color: $clr-accent-green;
            font-size: $fs-113;
            gap: $sz-100;
        }

        .filter-white {

            
            &:hover {
                filter: brightness(200%);
                cursor: pointer;
            }
        }
    }

   

    
}

